@import '~@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=DM+Serif+Text&display=swap');

$header-info-color: #F0ECE7;
$header-color: #272525;
$footer-secondary-color: #1d1d1d;
$button-color: #9B6333;
$booking-color: #f0ece7;
$secondary-color: #f2f2f2;
$rating-color: #9e6739;
$font-color: #000000;

$font-logo: "DM Serif Display", serif;
$font-text: "DM Serif Text", serif;

@mixin button-design {
    background-color: $button-color;
    color: #FFFFFF;
    padding: 0.7rem 1.5rem;
    border-radius: 100px;
}

@mixin room-text {
    padding: 1.2rem 1.2rem 0.2rem 1.2rem;
    position: relative;

    p {

        a, i {
            color: $button-color;
        }
    }

    h4 {
        position: absolute;
        right: 0;
        top: 0;
        padding: 2rem 1rem 2rem 0;
        font-weight: bold;
    }
}

@mixin carousel-style {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

@mixin tighter-container {
    padding: 0 8rem;
}

@mixin less-tight-container {
    padding: 0 5rem;
}

@mixin profile-picture {
    object-fit: cover;
    border-radius: 50%;
}

body {
    position: relative;


    /* 
        GENERAL --------------------------
    */
    a {
        color: $button-color;
    }

    a:hover {
        color: $button-color;
    }

    .btn:visited {
        box-shadow: none !important;
        outline: thick $button-color !important;
    }

    .btn:active, .btn:focus {
        box-shadow: 0px 0px 5px $button-color !important;
        outline: none !important;
    }

    .form-control:active, .form-control:focus {
        box-shadow: 0px 0px 5px $button-color !important;
        outline: none !important;
        border-color: $button-color;
    }

    .colored-bg {
        background: linear-gradient(to bottom, #FFFFFF 50%, $secondary-color 50%);
    }

    .colored-bg-reverse {
        background: linear-gradient(to bottom, $secondary-color 50%, #FFFFFF 50%);
    }


    /*
        HEADER CSS -------------------------------
    */
    .container-fluid {
        padding: 0;
        margin: 0;

        .container {
            padding: 0;
        }

        .header-info {
            background: $header-info-color;

            .info-container {
                margin: auto;
                padding: 0.25rem 0;

                .info-item {
                    display: inline-block;
                    padding-right: 1rem;

                    a {
                        color: $font-color;
                        font-size: 0.95rem;
                    }
                }

                .right {
                    float: right;

                    .search-icon {
                        padding-right: 0.5rem;
                    }

                    .selected-lang a {
                        color: $button-color;
                        font-weight: bold;
                    }
                }
            }
        }

        .header-navbar {
            background: $header-color;

            .navbar-container {
                margin: auto;
                padding: 0.25rem 0;
                position: relative;
                text-align: center;

                .navbar-item-logo {
                    float: left;
                    padding: 0.1rem 0;

                    .navbar-logo {
                        font-size: 2.25rem;
                        font-family: $font-logo;
                        font-weight: 700;
                        color: #FFFFFF !important;
                    }

                    .navbar-logo:hover {
                        text-decoration: none;
                    }
                    
                }

                .navbar-links {
                    display: inline-block;
                    padding: 1rem 0;

                    .navbar-item {
                        margin: 0 2.5rem 0 0;
                    }

                    .navbar-item a {
                        color: #FFFFFF !important;
                    }

                    .navbar-item a button {
                        @include button-design;
                        padding: 0.3rem 1rem;
                        font-size: 0.9rem;
                        letter-spacing: 0.025rem;
                    }
                }

                .navbar-no-padding {
                    padding: 0;
                }
            }

            .product-navbar {
                text-align: right;
            }
        }


        /*
            BIG BACKGROUND PHOTO & SLIDER CSS ---------------------------------
        */
        .background-photo {
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;

            .container-fluid {
                margin: auto;
                padding: 0 0 3rem 0;

                .background-info {
                    padding: 0;
                    position: relative;

                    h1 {
                        padding-top: 10rem;
                        font-size: 2.25rem;
                        font-family: $font-text;
                        color: #FFFFFF !important;
                    }
    
                    p {
                        color: #FFFFFF !important;
                        font-weight: 500;
                    }
    
                    button {
                        @include button-design;
                    }

                    .social-info {
                        position: absolute;
                        bottom: -23rem;
                        left: 0;
                        z-index: 999;
                        
                        i {
                            color: #FFFFFF;
                        }
    
                        h5 {
                            color: #FFFFFF;
                            font-weight: 400;
                        }
                    }
                }
                
                .carousel-outer {
                    padding-top: 2rem;
                    padding-left: 45%;
                    overflow: hidden;
                    position: relative;
    
                    .carousel-container {
                        display: inline-block;
                        position: relative;

                        span {
                            position: absolute;
                            left: -2rem;
                            padding: 9rem 0;
                            z-index: 999;

                            #showcaseArrow {
                                color: #FFFFFF;
                            }

                            #showcaseArrow:hover {
                                cursor: pointer;
                            }
                        }
        
                        .carousel-rooms {
                            @include carousel-style;
                            //left: -100%;
                            transform: translateX(350px);
        
                            .room-item {
                                flex: 1 0 350px;
                                order: 2;
                                
                                .room {
                                    width: 20rem;
                                    margin: 0 1rem;
                                    background-color: #FFFFFF;
                                

                                    .room-text {
                                        @include room-text;
                                    }
                                }
                            }

                            .ref-rooms {
                                order: 1;
                            }
                        }

                        .transition {
                            transform: none;
                            transition: transform 0.85s cubic-bezier(0.3, 1, 0.35, 1);
                        }
                    }
                }
            }
        }


        /*
            HOTEL INFO & BEST APARTMENTS CSS ---------------------------------
        */
        .container-info {
            padding: 3rem 0;

            .row {

                .col-sm {

                    h1 {
                        font-family: $font-text;
                    }

                    button {
                        @include button-design;
                    }

                    .name {
                        font-weight: bold;
                    }
                }
            }
        }

        .container-apartments {
            margin-bottom: 3rem;

            h1 {
                font-family: $font-text;
                margin-bottom: 2rem;
            }

            .row {
                margin: 0;

                .apartment-card {
                    display: inline-block;
                    width: 22%;
                    margin: 0 2rem 2rem 0;
                    background-color: $secondary-color;

                    .apartment-text {
                        @include room-text;

                        font-size: 0.8rem !important;

                        h5 {
                            font-size: 1.1rem;
                        }

                        h4 {
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }


        /*
            JUMBOTRON PATTERN BACKGROUND CONTENT CSS -------------------------------
        */
        .jumbotron {
            background-color: #FFFFFF;

            .container-jumbotron {
                background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://1.bp.blogspot.com/_ZJ-oIaOI9l8/TUiamRNUHKI/AAAAAAAAAoQ/G6IxJs_W8v4/s1600/floral-pattern-wallpaper-black-1600x1200.jpg');
                background-repeat: repeat;
                color: #FFFFFF !important;
                padding: 3rem 0;

                .jumbotron-text {
                    @include tighter-container;
                    
                    h1 {
                        font-family: $font-text;
                    }

                    p i {
                        color: $button-color;
                    }
                }
            }


            .jumbotron-info {
                @include tighter-container;
                padding-top: 1rem;
                padding-bottom: 4rem;

                .info-card {
                    display: inline-block;
                    max-width: 30%;
                    padding: 0 1rem 0 0;

                    i {
                        margin-bottom: 0.5rem;
                        border-radius: 100px;
                        background-color: rgb(240, 236, 231);
                        width: 70px;
                    }

                    .info-text {
                        padding: 0.5rem;
                        background-color: $secondary-color !important;
                        
                        hr {
                            border: 1px solid $button-color;
                            width: 50%;
                            margin-left: 0;
                        }
                    }
                }
            }
        }


        /*
            NEWS CONTENT CSS -------------------------------------
        */
        .container-news {
            @include tighter-container;
            position: relative;
            overflow: hidden;

            h1 {
                font-family: $font-text;
            }

            .carousel-outer {
                margin: 1rem 0;
                position: relative;

                #newsLeftArrow {
                    position: absolute;
                    left: -3rem;
                    top: 16rem;
                    cursor: pointer;
                    z-index: 999;
                }

                #newsRightArrow {
                    position: absolute;
                    right: -2rem;
                    top: 16rem;
                    cursor: pointer;
                    z-index: 999;
                }

                .carousel-container {
                    max-width: 56rem;
                    overflow: hidden;
                    margin: -1rem;

                    .carousel-news {
                        @include carousel-style;
                        transform: translate(50%);
                        left: -50%;

                        .news-item {
                            max-width: 28rem;
                            padding: 1rem;
                            flex: 1 0 50%;
                            order: 2;
                            min-height: 100%;

                            .news {
                                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                                background-color: #FFFFFF;

                                .news-image > img {
                                    width: 28rem;
                                    height: 14rem;
                                    vertical-align: top;
                                    object-fit: cover;
                                }

                                .news-text {
                                    padding: 1rem 1rem 0.5rem 1rem;

                                    .above-header {
                                        color: gray;
                                    }

                                    p {
                                        margin-bottom: 0.5rem;
                                    }

                                    h4 {
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                        white-space: nowrap;
                                        line-height: 2rem;
                                    }

                                    p i {
                                        color: $button-color;
                                    }
                                }
                            }
                        }

                        .ref-news {
                            order: 1;
                        }
                    }

                    .transition-reverse {
                        transform: translateX(-50%);
                    }

                    .transition {
                        transform: none;
                        transition: transform 0.85s cubic-bezier(0.3, 1, 0.35, 1);
                    }
                }
            }
        }


        /*
            CONTENT BETWEEN NEWS AND REVIEW CSS ------------------------------------------
        */
        .additional-outer {
            position: relative;
            margin-bottom: 3rem;

            .image-container {
                display: inline-block;

                .content-image {
                    object-fit: cover;
                }
            }

            .additional-content {
                overflow: hidden;
                @include tighter-container;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
    
                .content-container {
                    padding: 5rem 0 5rem 10rem;
                    margin-right: 1rem;
    
                    .text-container {
                        background-color: #FFFFFF;
                        padding: 2rem 4rem;
                        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

                        h1 {
                            font-family: $font-text;
                        }

                        .button-design {
                            @include button-design;
                            margin-top: 2rem;
                        }
                    }
                    
                }
            }
        }


        /*
            REVIEWS CONTENT CSS -------------------------------------------
        */
        .container-reviews {
            @include tighter-container;

            h1 {
                font-family: $font-text;
            }

            .carousel-outer {
                position: relative;
                margin-bottom: 3rem;
                
                #reviewLeftArrow {
                    position: absolute;
                    left: -4rem;
                    top: 6rem;
                    cursor: pointer;
                    z-index: 999;
                }

                #reviewRightArrow {
                    position: absolute;
                    right: -2rem;
                    top: 6rem;
                    cursor: pointer;
                    z-index: 999;
                }
                
                .carousel-container {
                    max-width: 56rem;
                    overflow: hidden;
    
                    .carousel-reviews {
                        @include carousel-style;
                        transform: translate(50%);
                        left: -50%;

                        .review-item {
                            margin-top: 1rem;
                            padding-right: 2rem;
                            max-width: 28rem;
                            flex: 1 0 50%;
                            order: 2;
                            min-height: 100%;

                            .profile-container > * {
                                display: inline-block;
                            }

                            .profile-container {
                                background-color: $header-info-color;
                                border-radius: 70px;

                                img {
                                    @include profile-picture;
                                }

                                p {
                                    padding: 0 3rem 0 1rem;
                                }

                                .rating-container i {
                                    color: $rating-color;
                                }
                            }

                            .review-container {

                                p {
                                    padding: 1rem 0 0 6rem;
                                }
                            }
                        }

                        .ref-review {
                            order: 1;
                        }
                    }

                    .transition-reverse {
                        transform: translateX(-50%);
                    }

                    .transition {
                        transform: none;
                        transition: transform 0.85s cubic-bezier(0.3, 1, 0.35, 1);
                    }
                }
            }
        }


        /*
            FOOTER CSS ---------------------------------------
        */
        .footer {
            background-color: $header-color;
            color: #FFFFFF !important;
            font-size: 0.9rem;

            .footer-info {
                @include less-tight-container;

                h1 {
                    font-family: $font-text;
                }

                .row {
                    margin: 0;

                    .col-sm {
                        padding: 3rem 0 1.5rem 0;
    
                        p a {
                            color: #FFFFFF;
                        }
    
                        .subscribe-form {
    
                            button {
                                background-color: rgba(74, 74, 74, 1);
                                border-radius: 100px;
                                display: block;
                                color: #FFFFFF;
                                margin-top: 1rem;
                                margin-left: 5rem;
                                max-width: 120px;
                                font-size: 0.8rem;
                                letter-spacing: 0.05rem;
                            }
                        }
    
                        .email-input {
                            background-color: transparent;
                            border: none;
                            border-bottom: 2px solid gray;
                            color: #FFFFFF;
                            border-radius: 0;
                        }
    
                        .email-input:focus {
                            outline: none;
                        }
    
                        .social-info {
                            padding-top: 3rem;
    
                            a {
                                color: #FFFFFF;
                            }
                        }
                    }
                }
            }

            .ending-footer {
                background-color: $footer-secondary-color;

                .ending-footer-content > * {
                    display: inline-block;
                }

                .ending-footer-content {
                    padding: 0.5rem 0;
                    font-size: 0.8rem;

                    p {
                        margin: 0;
                    }

                    a {
                        color: #FFFFFF;
                    }

                    .footer-legal {
                        margin-left: 27rem;
                    }
                }
            }
        }
    
        /* 
        ------------------------ PRODUCT PAGE CSS --------------------------------
        */    
        
        .slideshow-container {
            @include less-tight-container;

            .banner-image {
                margin-bottom: 1.5rem;

                img {
                    width: 100%;
                    height: 450px;
                    object-fit: cover;
                }

                .hidden {
                    display: none;
                }
            }

            .banner-gallery-outer {
                position: relative;

                .galleryArrows {
                    cursor: pointer;
                }

                #galleryLeftArrow {
                    position: absolute;
                    left: -2rem;
                    top: 3rem;
                }

                #galleryRightArrow {
                    position: absolute;
                    right: -2rem;
                    top: 3rem;
                }
                
                .banner-gallery {
                    display: flex;
                    overflow: hidden;
                    max-width: 100%;
                    height: 120px;
                    margin-bottom: 1.5rem;
    
                    img {
                        object-fit: cover;
                        max-width: 200px;
                        margin-right: 1.5rem;
                        cursor: pointer;
                        filter: opacity(75%);
                    }
    
                    img:hover {
                        filter: opacity(100%);
                    }
                }
            }
        }

        
        .info-container {
            @include less-tight-container;

            h4 {
                margin-bottom: 1rem !important;
            }
            
            .row {
                margin: 0;
                padding: 0;

                .product-info {
                    padding: 0;
                    padding-right: 2rem;

                    h1 {
                        font-family: $font-text;
                    }

                    .general-info {
                        padding: 1rem 0 0 0;
                        display: flex;

                        .general-item {
                            flex: 0 0 33.3333%;

                            span {
                                vertical-align: middle;
                            }
    
                            p {
                                display: inline-block;
                                font-weight: bold;
                                padding: 0 1.5rem;
                            }
                        }
                    }

                    .services-info {
                        margin-bottom: 1.5rem;

                        .services-container {
                            border: 1px solid #929391;
                            border-radius: 2px;
                            padding: 1rem;
                            display: flex;
                            flex-wrap: wrap;

                            div {
                                white-space: nowrap;
                                width: 25%;
                                padding: 1rem 2rem 1rem 1rem;

                                i {
                                    color: $button-color;
                                }
                            }
                        }
                    }

                    .rules-info {
                        margin-bottom: 3rem;

                        p {
                            line-height: 1.75rem;
                        }
                    }
                }

                .booking-container {
                    background-color: $booking-color;
                    padding: 1.5rem 1rem 1.5rem 1.5rem;
                    border-radius: 2px;

                    h3 {
                        color: $button-color;
                    }

                    
                    .dates-container {
                        display: flex;
                        margin-bottom: 2rem;
                        
                        .input-group {
                            flex: 0 0 50%;
                            max-width: 170px;
                            margin-right: 0.5rem;
                        }
                    }

                    .guests-container {
                        display: flex;
                        margin-bottom: 2rem;
                        
                        .input-group {
                            flex: 0 0 50%;
                            max-width: 170px;
                            margin-right: 0.5rem;
                        }
                    }

                    .button-container {
                        text-align: center;

                        .check-button {
                            @include button-design;
                        }
                    }
                }
            }

            .comments-container {
                max-width: 80%;
                margin: 0;

                .comment {

                    .profile-info {

                        img {
                            @include profile-picture;
                        }

                        p {
                            display: inline-block;
                            padding: 1rem 0.5rem;
                            margin: 0;
                        }

                        .reply-container {
                            float: right;
                            padding: 1rem 0;

                            a {
                                color: #000000;
                            }
                        }
                    }

                    .comment-text {

                        p {
                            padding-left: 7rem;
                            margin-bottom: 2rem;
                        }
                    }


                    .reply {
                        padding-left: 7rem;
                        max-width: 90%;

                        .reply-text {
                            p {
                                padding-left: 7rem;
                                margin-bottom: 2rem;
                            }
                        }
                    }
                }
            }


            .comment-form {
                width: 80%;
                margin: 0;

                .form-content {
                    margin-bottom: 3rem;

                    .row {

                        .half-width {
                            width: 50%;
                            padding-right: 3rem;
                            margin-bottom: 1rem;
                        }
    
                        label {
                            padding-left: 0.75rem;
                        }
    
                        .full-width {
                            width: 100%;
                            padding-right: 3rem;

                            #word-counter {
                                float: right;
                            }
                        }
                    }
    
                    input[type="checkbox"] {
                        zoom: 1.5;
                        margin: 0.5rem 0;
                        vertical-align: middle;
                    }
    
                    .comment-button {
                        @include button-design;
                        background-color: $footer-secondary-color;
                        font-size: 0.9rem;
                    }
                }
            }
        }
    
    }


    
}