@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css);@import url(https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=DM+Serif+Text&display=swap);body {
  position: relative;
  /*
        ICONS CLASSES ------------------
    */
  /* 
        GENERAL --------------------------
    */
  /*
        HEADER CSS -------------------------------
    */
}

body path {
  -webkit-transform: translateY(-3rem);
          transform: translateY(-3rem);
}

body .icon {
  overflow: overlay;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body .width-1 {
  width: 1em;
}

body .width-2 {
  width: 1.5em;
}

body .width-3 {
  width: 2em;
}

body .width-sm {
  width: 0.5em;
}

body .width-form {
  width: 0.8em;
  overflow: overlay;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body .white-icon {
  fill: white;
}

body .accent-icon {
  fill: #8E5C2F;
}

body a {
  color: #8E5C2F;
}

body a:hover {
  color: #8E5C2F;
}

body .btn:visited {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: thick #8E5C2F !important;
}

body .btn:active,
body .btn:focus {
  -webkit-box-shadow: 0px 0px 5px #8E5C2F !important;
          box-shadow: 0px 0px 5px #8E5C2F !important;
  outline: none !important;
}

body .form-control:active,
body .form-control:focus {
  -webkit-box-shadow: 0px 0px 5px #8E5C2F !important;
          box-shadow: 0px 0px 5px #8E5C2F !important;
  outline: none !important;
  border-color: #8E5C2F;
}

body .colored-bg {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #FFFFFF), color-stop(50%, #f2f2f2));
  background: linear-gradient(to bottom, #FFFFFF 50%, #f2f2f2 50%);
}

body .colored-bg-reverse {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #f2f2f2), color-stop(50%, #FFFFFF));
  background: linear-gradient(to bottom, #f2f2f2 50%, #FFFFFF 50%);
}

body .container-fluid {
  padding: 0;
  margin: 0;
  /*
            BIG BACKGROUND PHOTO & SLIDER CSS ---------------------------------
        */
  /*
            HOTEL INFO & BEST APARTMENTS CSS ---------------------------------
        */
  /*
            JUMBOTRON PATTERN BACKGROUND CONTENT CSS -------------------------------
        */
  /*
            NEWS CONTENT CSS -------------------------------------
        */
  /*
            CONTENT BETWEEN NEWS AND REVIEW CSS ------------------------------------------
        */
  /*
            REVIEWS CONTENT CSS -------------------------------------------
        */
  /*
            FOOTER CSS ---------------------------------------
        */
  /* 
        ------------------------ PRODUCT PAGE CSS --------------------------------
        */
}

body .container-fluid .container {
  padding: 0;
}

body .container-fluid .header-info {
  background: #F0ECE7;
}

body .container-fluid .header-info .info-container {
  margin: auto;
  padding: 0.25rem 0;
}

body .container-fluid .header-info .info-container .info-item {
  display: inline-block;
  padding-right: 1rem;
}

body .container-fluid .header-info .info-container .info-item a {
  color: #000000;
  font-size: 0.95rem;
}

body .container-fluid .header-info .info-container .right {
  float: right;
}

body .container-fluid .header-info .info-container .right .search-icon {
  padding-right: 0.5rem;
}

body .container-fluid .header-info .info-container .right .selected-lang a {
  color: #8E5C2F;
  font-weight: bold;
}

body .container-fluid .header-navbar {
  background: #272525;
}

body .container-fluid .header-navbar .navbar-container {
  margin: auto;
  padding: 0.25rem 0;
  position: relative;
  text-align: center;
}

body .container-fluid .header-navbar .navbar-container .navbar-item-logo {
  float: left;
  padding: 0.1rem 0;
}

body .container-fluid .header-navbar .navbar-container .navbar-item-logo .navbar-logo {
  font-size: 2.25rem;
  font-family: "DM Serif Display", serif;
  font-weight: 700;
  color: #FFFFFF !important;
}

body .container-fluid .header-navbar .navbar-container .navbar-item-logo .navbar-logo:hover {
  text-decoration: none;
}

body .container-fluid .header-navbar .navbar-container .navbar-links {
  display: inline-block;
  padding: 1rem 0;
}

body .container-fluid .header-navbar .navbar-container .navbar-links .navbar-item {
  margin: 0 2.5rem 0 0;
}

body .container-fluid .header-navbar .navbar-container .navbar-links .navbar-item a {
  color: #FFFFFF !important;
}

body .container-fluid .header-navbar .navbar-container .navbar-links .navbar-item a button {
  background-color: #8E5C2F;
  color: #FFFFFF;
  padding: 0.7rem 1.5rem;
  border-radius: 100px;
  padding: 0.3rem 1rem;
  font-size: 0.9rem;
  letter-spacing: 0.025rem;
}

body .container-fluid .header-navbar .navbar-container .navbar-no-padding {
  padding: 0;
}

body .container-fluid .header-navbar .product-navbar {
  text-align: right;
}

body .container-fluid .background-photo {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

body .container-fluid .background-photo .container-fluid {
  margin: auto;
  padding: 0 0 3rem 0;
}

body .container-fluid .background-photo .container-fluid .background-info {
  padding: 0;
  position: relative;
}

body .container-fluid .background-photo .container-fluid .background-info h1 {
  padding-top: 10rem;
  font-size: 2.25rem;
  font-family: "DM Serif Text", serif;
  color: #FFFFFF !important;
}

body .container-fluid .background-photo .container-fluid .background-info p {
  color: #FFFFFF !important;
  font-weight: 500;
}

body .container-fluid .background-photo .container-fluid .background-info button {
  background-color: #8E5C2F;
  color: #FFFFFF;
  padding: 0.7rem 1.5rem;
  border-radius: 100px;
}

body .container-fluid .background-photo .container-fluid .background-info .social-info {
  position: absolute;
  bottom: -23rem;
  left: 0;
  z-index: 999;
}

body .container-fluid .background-photo .container-fluid .background-info .social-info i {
  color: #FFFFFF;
}

body .container-fluid .background-photo .container-fluid .background-info .social-info h2 {
  color: #FFFFFF;
  font-size: 1.5em;
  font-weight: 400;
}

body .container-fluid .background-photo .container-fluid .carousel-outer {
  padding-top: 2rem;
  padding-left: 45%;
  overflow: hidden;
  position: relative;
}

body .container-fluid .background-photo .container-fluid .carousel-outer .carousel-container {
  display: inline-block;
  position: relative;
}

body .container-fluid .background-photo .container-fluid .carousel-outer .carousel-container span {
  position: absolute;
  left: -2rem;
  padding: 9rem 0;
  z-index: 999;
}

body .container-fluid .background-photo .container-fluid .carousel-outer .carousel-container span #showcaseArrow {
  color: #FFFFFF;
}

body .container-fluid .background-photo .container-fluid .carousel-outer .carousel-container span #showcaseArrow:hover {
  cursor: pointer;
}

body .container-fluid .background-photo .container-fluid .carousel-outer .carousel-container .carousel-rooms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-transform: translateX(350px);
          transform: translateX(350px);
}

body .container-fluid .background-photo .container-fluid .carousel-outer .carousel-container .carousel-rooms .room-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 350px;
          flex: 1 0 350px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

body .container-fluid .background-photo .container-fluid .carousel-outer .carousel-container .carousel-rooms .room-item .room {
  width: 20rem;
  margin: 0 1rem;
  background-color: #FFFFFF;
}

body .container-fluid .background-photo .container-fluid .carousel-outer .carousel-container .carousel-rooms .room-item .room .room-text {
  padding: 1.2rem 1.2rem 0.2rem 1.2rem;
  position: relative;
}

body .container-fluid .background-photo .container-fluid .carousel-outer .carousel-container .carousel-rooms .room-item .room .room-text p a,
body .container-fluid .background-photo .container-fluid .carousel-outer .carousel-container .carousel-rooms .room-item .room .room-text p i {
  color: #8E5C2F;
}

body .container-fluid .background-photo .container-fluid .carousel-outer .carousel-container .carousel-rooms .room-item .room .room-text h4 {
  position: absolute;
  right: 0;
  top: 0;
  padding: 2rem 1rem 2rem 0;
  font-weight: bold;
}

body .container-fluid .background-photo .container-fluid .carousel-outer .carousel-container .carousel-rooms .room-item .room .room-text h3 {
  font-size: 1.25em;
}

body .container-fluid .background-photo .container-fluid .carousel-outer .carousel-container .carousel-rooms .ref-rooms {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

body .container-fluid .background-photo .container-fluid .carousel-outer .carousel-container .transition {
  -webkit-transform: none;
          transform: none;
  -webkit-transition: -webkit-transform 0.85s cubic-bezier(0.3, 1, 0.35, 1);
  transition: -webkit-transform 0.85s cubic-bezier(0.3, 1, 0.35, 1);
  transition: transform 0.85s cubic-bezier(0.3, 1, 0.35, 1);
  transition: transform 0.85s cubic-bezier(0.3, 1, 0.35, 1), -webkit-transform 0.85s cubic-bezier(0.3, 1, 0.35, 1);
}

body .container-fluid .container-info {
  padding: 3rem 0;
}

body .container-fluid .container-info .row .col-sm h1 {
  font-family: "DM Serif Text", serif;
}

body .container-fluid .container-info .row .col-sm button {
  background-color: #8E5C2F;
  color: #FFFFFF;
  padding: 0.7rem 1.5rem;
  border-radius: 100px;
}

body .container-fluid .container-info .row .col-sm .name {
  font-weight: bold;
}

body .container-fluid .container-apartments {
  margin-bottom: 3rem;
}

body .container-fluid .container-apartments h1 {
  font-family: "DM Serif Text", serif;
  margin-bottom: 2rem;
}

body .container-fluid .container-apartments .row {
  margin: 0;
}

body .container-fluid .container-apartments .row .apartment-card {
  display: inline-block;
  width: 22%;
  margin: 0 2rem 2rem 0;
  background-color: #f2f2f2;
}

body .container-fluid .container-apartments .row .apartment-card .apartment-text {
  padding: 1.2rem 1.2rem 0.2rem 1.2rem;
  position: relative;
  font-size: 0.8rem !important;
}

body .container-fluid .container-apartments .row .apartment-card .apartment-text p a,
body .container-fluid .container-apartments .row .apartment-card .apartment-text p i {
  color: #8E5C2F;
}

body .container-fluid .container-apartments .row .apartment-card .apartment-text h4 {
  position: absolute;
  right: 0;
  top: 0;
  padding: 2rem 1rem 2rem 0;
  font-weight: bold;
}

body .container-fluid .container-apartments .row .apartment-card .apartment-text h3 {
  font-size: 1.1rem;
}

body .container-fluid .container-apartments .row .apartment-card .apartment-text h4 {
  font-size: 1.3rem;
}

body .container-fluid .jumbotron {
  background-color: #FFFFFF;
}

body .container-fluid .jumbotron .container-jumbotron {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("https://1.bp.blogspot.com/_ZJ-oIaOI9l8/TUiamRNUHKI/AAAAAAAAAoQ/G6IxJs_W8v4/s1600/floral-pattern-wallpaper-black-1600x1200.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://1.bp.blogspot.com/_ZJ-oIaOI9l8/TUiamRNUHKI/AAAAAAAAAoQ/G6IxJs_W8v4/s1600/floral-pattern-wallpaper-black-1600x1200.jpg");
  background-repeat: repeat;
  color: #FFFFFF !important;
  padding: 3rem 0;
}

body .container-fluid .jumbotron .container-jumbotron .jumbotron-text {
  padding: 0 8rem;
}

body .container-fluid .jumbotron .container-jumbotron .jumbotron-text h1 {
  font-family: "DM Serif Text", serif;
}

body .container-fluid .jumbotron .container-jumbotron .jumbotron-text p i {
  color: #8E5C2F;
}

body .container-fluid .jumbotron .jumbotron-info {
  padding: 0 8rem;
  padding-top: 1rem;
  padding-bottom: 4rem;
}

body .container-fluid .jumbotron .jumbotron-info .info-card {
  display: inline-block;
  max-width: 30%;
  padding: 0 1rem 0 0;
}

body .container-fluid .jumbotron .jumbotron-info .info-card span {
  display: inline-block;
  margin-bottom: 0.5rem;
  border-radius: 100px;
  background-color: #f0ece7;
  width: 80px;
}

body .container-fluid .jumbotron .jumbotron-info .info-card .info-text {
  padding: 0.5rem;
  background-color: #f2f2f2 !important;
}

body .container-fluid .jumbotron .jumbotron-info .info-card .info-text hr {
  border: 1px solid #8E5C2F;
  width: 50%;
  margin-left: 0;
}

body .container-fluid .container-news {
  padding: 0 8rem;
  position: relative;
  overflow: hidden;
}

body .container-fluid .container-news h1 {
  font-family: "DM Serif Text", serif;
}

body .container-fluid .container-news .carousel-outer {
  margin: 1rem 0 2rem 0;
  position: relative;
}

body .container-fluid .container-news .carousel-outer #newsLeftArrow {
  position: absolute;
  left: -3rem;
  top: 16rem;
  cursor: pointer;
  z-index: 999;
}

body .container-fluid .container-news .carousel-outer #newsRightArrow {
  position: absolute;
  right: -2rem;
  top: 16rem;
  cursor: pointer;
  z-index: 999;
}

body .container-fluid .container-news .carousel-outer .carousel-container {
  max-width: 56rem;
  overflow: hidden;
  margin: -1rem;
}

body .container-fluid .container-news .carousel-outer .carousel-container .carousel-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-transform: translate(50%);
          transform: translate(50%);
  left: -50%;
}

body .container-fluid .container-news .carousel-outer .carousel-container .carousel-news .news-item {
  max-width: 28rem;
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  min-height: 100%;
}

body .container-fluid .container-news .carousel-outer .carousel-container .carousel-news .news-item .news {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #FFFFFF;
}

body .container-fluid .container-news .carousel-outer .carousel-container .carousel-news .news-item .news .news-image > img {
  width: 28rem;
  height: 14rem;
  vertical-align: top;
  -o-object-fit: cover;
     object-fit: cover;
}

body .container-fluid .container-news .carousel-outer .carousel-container .carousel-news .news-item .news .news-text {
  padding: 1rem 1rem 0.5rem 1rem;
}

body .container-fluid .container-news .carousel-outer .carousel-container .carousel-news .news-item .news .news-text .above-header {
  color: #424242;
}

body .container-fluid .container-news .carousel-outer .carousel-container .carousel-news .news-item .news .news-text p {
  margin-bottom: 0.5rem;
}

body .container-fluid .container-news .carousel-outer .carousel-container .carousel-news .news-item .news .news-text h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 2rem;
}

body .container-fluid .container-news .carousel-outer .carousel-container .carousel-news .news-item .news .news-text p i {
  color: #8E5C2F;
}

body .container-fluid .container-news .carousel-outer .carousel-container .carousel-news .ref-news {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

body .container-fluid .container-news .carousel-outer .carousel-container .transition-reverse {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body .container-fluid .container-news .carousel-outer .carousel-container .transition {
  -webkit-transform: none;
          transform: none;
  -webkit-transition: -webkit-transform 0.85s cubic-bezier(0.3, 1, 0.35, 1);
  transition: -webkit-transform 0.85s cubic-bezier(0.3, 1, 0.35, 1);
  transition: transform 0.85s cubic-bezier(0.3, 1, 0.35, 1);
  transition: transform 0.85s cubic-bezier(0.3, 1, 0.35, 1), -webkit-transform 0.85s cubic-bezier(0.3, 1, 0.35, 1);
}

body .container-fluid .additional-outer {
  position: relative;
  margin-bottom: 3rem;
}

body .container-fluid .additional-outer .image-container {
  display: inline-block;
}

body .container-fluid .additional-outer .image-container .content-image {
  -o-object-fit: cover;
     object-fit: cover;
}

body .container-fluid .additional-outer .additional-content {
  overflow: hidden;
  padding: 0 8rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

body .container-fluid .additional-outer .additional-content .content-container {
  padding: 5rem 0 5rem 10rem;
  margin-right: 1rem;
}

body .container-fluid .additional-outer .additional-content .content-container .text-container {
  background-color: #FFFFFF;
  padding: 2rem 4rem;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

body .container-fluid .additional-outer .additional-content .content-container .text-container h1 {
  font-family: "DM Serif Text", serif;
}

body .container-fluid .additional-outer .additional-content .content-container .text-container .button-design {
  background-color: #8E5C2F;
  color: #FFFFFF;
  padding: 0.7rem 1.5rem;
  border-radius: 100px;
  margin-top: 2rem;
}

body .container-fluid .container-reviews {
  padding: 0 8rem;
}

body .container-fluid .container-reviews h1 {
  font-family: "DM Serif Text", serif;
}

body .container-fluid .container-reviews .carousel-outer {
  position: relative;
  margin-bottom: 3rem;
}

body .container-fluid .container-reviews .carousel-outer #reviewLeftArrow {
  position: absolute;
  left: -4rem;
  top: 6rem;
  cursor: pointer;
  z-index: 999;
}

body .container-fluid .container-reviews .carousel-outer #reviewRightArrow {
  position: absolute;
  right: -2rem;
  top: 6rem;
  cursor: pointer;
  z-index: 999;
}

body .container-fluid .container-reviews .carousel-outer .carousel-container {
  max-width: 56rem;
  overflow: hidden;
}

body .container-fluid .container-reviews .carousel-outer .carousel-container .carousel-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-transform: translate(50%);
          transform: translate(50%);
  left: -50%;
}

body .container-fluid .container-reviews .carousel-outer .carousel-container .carousel-reviews .review-item {
  margin-top: 1rem;
  padding-right: 2rem;
  max-width: 28rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  min-height: 100%;
}

body .container-fluid .container-reviews .carousel-outer .carousel-container .carousel-reviews .review-item .profile-container > * {
  display: inline-block;
}

body .container-fluid .container-reviews .carousel-outer .carousel-container .carousel-reviews .review-item .profile-container {
  background-color: #F0ECE7;
  border-radius: 70px;
}

body .container-fluid .container-reviews .carousel-outer .carousel-container .carousel-reviews .review-item .profile-container img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

body .container-fluid .container-reviews .carousel-outer .carousel-container .carousel-reviews .review-item .profile-container p {
  padding: 0 3rem 0 1rem;
}

body .container-fluid .container-reviews .carousel-outer .carousel-container .carousel-reviews .review-item .profile-container .rating-container p {
  color: #8E5C2F;
}

body .container-fluid .container-reviews .carousel-outer .carousel-container .carousel-reviews .review-item .review-container p {
  padding: 1rem 0 0 6rem;
}

body .container-fluid .container-reviews .carousel-outer .carousel-container .carousel-reviews .ref-review {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

body .container-fluid .container-reviews .carousel-outer .carousel-container .transition-reverse {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body .container-fluid .container-reviews .carousel-outer .carousel-container .transition {
  -webkit-transform: none;
          transform: none;
  -webkit-transition: -webkit-transform 0.85s cubic-bezier(0.3, 1, 0.35, 1);
  transition: -webkit-transform 0.85s cubic-bezier(0.3, 1, 0.35, 1);
  transition: transform 0.85s cubic-bezier(0.3, 1, 0.35, 1);
  transition: transform 0.85s cubic-bezier(0.3, 1, 0.35, 1), -webkit-transform 0.85s cubic-bezier(0.3, 1, 0.35, 1);
}

body .container-fluid .footer {
  background-color: #272525;
  color: #FFFFFF !important;
  font-size: 0.9rem;
}

body .container-fluid .footer .footer-info {
  padding: 0 5rem;
}

body .container-fluid .footer .footer-info h1 {
  font-family: "DM Serif Text", serif;
}

body .container-fluid .footer .footer-info .row {
  margin: 0;
}

body .container-fluid .footer .footer-info .row .col-sm {
  padding: 3rem 0 1.5rem 0;
}

body .container-fluid .footer .footer-info .row .col-sm p a {
  color: #FFFFFF;
}

body .container-fluid .footer .footer-info .row .col-sm .subscribe-form button {
  background-color: #4a4a4a;
  border-radius: 100px;
  display: block;
  color: #FFFFFF;
  margin-top: 1rem;
  margin-left: 5rem;
  max-width: 120px;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
}

body .container-fluid .footer .footer-info .row .col-sm .email-input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid gray;
  color: #FFFFFF;
  border-radius: 0;
}

body .container-fluid .footer .footer-info .row .col-sm .email-input:focus {
  outline: none;
}

body .container-fluid .footer .footer-info .row .col-sm .social-info {
  padding-top: 3rem;
}

body .container-fluid .footer .footer-info .row .col-sm .social-info a {
  color: #FFFFFF;
}

body .container-fluid .footer .ending-footer {
  background-color: #1d1d1d;
}

body .container-fluid .footer .ending-footer .ending-footer-content > * {
  display: inline-block;
}

body .container-fluid .footer .ending-footer .ending-footer-content {
  padding: 0.5rem 0;
  font-size: 0.8rem;
}

body .container-fluid .footer .ending-footer .ending-footer-content p {
  margin: 0;
}

body .container-fluid .footer .ending-footer .ending-footer-content a {
  color: #FFFFFF;
}

body .container-fluid .footer .ending-footer .ending-footer-content .footer-legal {
  margin-left: 33rem;
}

body .container-fluid .slideshow-container {
  padding: 0 5rem;
}

body .container-fluid .slideshow-container .banner-image {
  margin-bottom: 1.5rem;
}

body .container-fluid .slideshow-container .banner-image img {
  width: 100%;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

body .container-fluid .slideshow-container .banner-image .hidden {
  display: none;
}

body .container-fluid .slideshow-container .banner-gallery-outer {
  position: relative;
}

body .container-fluid .slideshow-container .banner-gallery-outer .galleryArrows {
  cursor: pointer;
}

body .container-fluid .slideshow-container .banner-gallery-outer #galleryLeftArrow {
  position: absolute;
  left: -2rem;
  top: 3rem;
}

body .container-fluid .slideshow-container .banner-gallery-outer #galleryRightArrow {
  position: absolute;
  right: -2rem;
  top: 3rem;
}

body .container-fluid .slideshow-container .banner-gallery-outer .banner-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  max-width: 100%;
  height: 120px;
  margin-bottom: 1.5rem;
}

body .container-fluid .slideshow-container .banner-gallery-outer .banner-gallery img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 200px;
  margin-right: 1.5rem;
  cursor: pointer;
  -webkit-filter: opacity(75%);
          filter: opacity(75%);
}

body .container-fluid .slideshow-container .banner-gallery-outer .banner-gallery img:hover {
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
}

body .container-fluid .info-container {
  padding: 0 5rem;
}

body .container-fluid .info-container h4 {
  margin-bottom: 1rem !important;
}

body .container-fluid .info-container .row {
  margin: 0;
  padding: 0;
}

body .container-fluid .info-container .row .product-info {
  padding: 0;
  padding-right: 2rem;
}

body .container-fluid .info-container .row .product-info h1 {
  font-family: "DM Serif Text", serif;
}

body .container-fluid .info-container .row .product-info .general-info {
  padding: 1rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container-fluid .info-container .row .product-info .general-info .general-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333%;
          flex: 0 0 33.3333%;
}

body .container-fluid .info-container .row .product-info .general-info .general-item span {
  vertical-align: middle;
}

body .container-fluid .info-container .row .product-info .general-info .general-item p {
  display: inline-block;
  font-weight: bold;
  padding: 0 1.5rem;
}

body .container-fluid .info-container .row .product-info .services-info {
  margin-bottom: 1.5rem;
}

body .container-fluid .info-container .row .product-info .services-info .services-container {
  border: 1px solid #929391;
  border-radius: 2px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .container-fluid .info-container .row .product-info .services-info .services-container div {
  white-space: nowrap;
  width: 25%;
  padding: 1rem 2rem 1rem 1rem;
}

body .container-fluid .info-container .row .product-info .services-info .services-container div i {
  color: #8E5C2F;
}

body .container-fluid .info-container .row .product-info .rules-info {
  margin-bottom: 3rem;
}

body .container-fluid .info-container .row .product-info .rules-info p {
  line-height: 1.75rem;
}

body .container-fluid .info-container .row .booking-container {
  background-color: #f0ece7;
  padding: 1.5rem 1rem 1.5rem 1.5rem;
  border-radius: 2px;
}

body .container-fluid .info-container .row .booking-container h3 {
  color: #8E5C2F;
}

body .container-fluid .info-container .row .booking-container .dates-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

body .container-fluid .info-container .row .booking-container .dates-container .input-group {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 170px;
  margin-right: 0.5rem;
}

body .container-fluid .info-container .row .booking-container .guests-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

body .container-fluid .info-container .row .booking-container .guests-container .input-group {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 170px;
  margin-right: 0.5rem;
}

body .container-fluid .info-container .row .booking-container .button-container {
  text-align: center;
}

body .container-fluid .info-container .row .booking-container .button-container .check-button {
  background-color: #8E5C2F;
  color: #FFFFFF;
  padding: 0.7rem 1.5rem;
  border-radius: 100px;
}

body .container-fluid .info-container .comments-container {
  max-width: 80%;
  margin: 0;
}

body .container-fluid .info-container .comments-container .comment .profile-info img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

body .container-fluid .info-container .comments-container .comment .profile-info p {
  display: inline-block;
  padding: 1rem 0.5rem;
  margin: 0;
}

body .container-fluid .info-container .comments-container .comment .profile-info .reply-container {
  float: right;
  padding: 1rem 0;
}

body .container-fluid .info-container .comments-container .comment .profile-info .reply-container a {
  color: #000000;
}

body .container-fluid .info-container .comments-container .comment .comment-text p {
  padding-left: 7rem;
  margin-bottom: 2rem;
}

body .container-fluid .info-container .comments-container .comment .reply {
  padding-left: 7rem;
  max-width: 90%;
}

body .container-fluid .info-container .comments-container .comment .reply .reply-text p {
  padding-left: 7rem;
  margin-bottom: 2rem;
}

body .container-fluid .info-container .comment-form {
  width: 80%;
  margin: 0;
}

body .container-fluid .info-container .comment-form .form-content {
  margin-bottom: 3rem;
}

body .container-fluid .info-container .comment-form .form-content .row .half-width {
  width: 50%;
  padding-right: 3rem;
  margin-bottom: 1rem;
}

body .container-fluid .info-container .comment-form .form-content .row label {
  padding-left: 0.75rem;
}

body .container-fluid .info-container .comment-form .form-content .row .full-width {
  width: 100%;
  padding-right: 3rem;
}

body .container-fluid .info-container .comment-form .form-content .row .full-width #word-counter {
  float: right;
}

body .container-fluid .info-container .comment-form .form-content input[type="checkbox"] {
  zoom: 1.5;
  margin: 0.5rem 0;
  vertical-align: middle;
}

body .container-fluid .info-container .comment-form .form-content .comment-button {
  background-color: #8E5C2F;
  color: #FFFFFF;
  padding: 0.7rem 1.5rem;
  border-radius: 100px;
  background-color: #1d1d1d;
  font-size: 0.9rem;
}

